- form_for([@project, @task]) do |f|
  = f.error_messages
  %p#related
    = t('projects.project')
    = link_to(@project.name, @project)
  %p
    = f.label :name, t('labels.name')
    = f.text_field :name
  %p
    %span.date_start
      = f.date_select :date_start
    &#151;
    %span.date_end
      = f.date_select :date_end
    
  %p
    = f.label :message, t('labels.message')
    %br
    = f.text_area :message, :rows => 15, :cols => 80
  %p
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit btn_submit
    = link_to(t('link.cancel'), (@task.new_record? ? project_path(@project) : project_task_path(@project, @task)), :class => 'btn-cancel')
