#tasks.main-box
  %h2
    = t('header.box.all_tasks_of')
    = link_to(@project.name.upcase, @project)
  %table
    %thead
      %tr
        %th
        %th
          = t('header.date')
        %th
          = t('header.time')
        %th
          = t('header.project')
        %th
          = t('header.author')
        %th
          = t('header.task')
    %tbody
      - @tasks.each do |task|
        - created_at = task.created_at
        %tr{ :class => cycle('light', 'dark') }
          %td
            = image_tag(state(task.state), :alt => t("legend.tasks.#{task.state}"))
          %td
            = created_at.strftime("%D")
          %td
            = created_at.strftime("%T")
          %td
            = link_to(task.project.name, project_path(task.project))
          %td
            = link_to(task.user.name, task.user)
          %td
            = link_to(task.name, [task.project, task])
= page_entries_info @tasks
= will_paginate @tasks
