<h3><%= t('projects.project') %> <%= link_to @project.name, @project %></h3>
<h4><%= t('tasks.task') %> <%= @task.name %></h4>
<%= simple_format(@task.message) %>
</dl>
<% content_for(:menubar) do %>
	<% content_tag(:ul, :id => "submenu") do %>
  	<%= content_tag(:li, link_to('Editar', edit_project_task_path(@project, @task), :class => 'projects')) %>
		<%= content_tag(:li, "#{link_to('Remover', project_task_path(@project, @task), :class => 'projects', :confirm => "Você tem certeza?", :method => :delete)}") if !@task.open? %>
		<%= content_tag(:li, @task.open? ? link_to(t('link.close'), close_project_task_path(@project, @task), :class => 'projects') : link_to(t('link.open'), open_project_task_path(@project, @task), :class => 'projects')) %>
	<% end %>
<% end %>

<div id="comments">
	<% if @task.open? %>
		<h5><%= t('comments.comments') %></h5>
		<%= render :partial => "comments/form", :locals => { :btn_submit => t('button.add') } %>
		<% @comments.each do |comment| %>
			<%= anchor("comment-#{comment.id}") %>
			<% div_for(comment, :class => cycle('light', 'dark')) do %>
			  <h6><span class="date"><%= comment.created_at.to_s_br %></span> <span class="user-name"><%= comment.user.name %></span></h6>
			  <%= simple_format(comment.message) %>
		  <% end %>
		<% end %>
	<% else %>
	<h5><%= t('messages.comments.closed') %></h5>
	<% end %>
</div>
