%h3
  = t('projects.project')
  = link_to @project.name, @project
%h4
  = t('tasks.task')
  = @task.name
= simple_format(@task.message)
- content_for(:menubar) do
  - content_tag(:ul, :id => "submenu") do
    = content_tag(:li, link_to(t('link.edit'), edit_project_task_path(@project, @task), :class => 'projects'))
    = content_tag(:li, "#{link_to(t('link.remove'), project_task_path(@project, @task), :class => 'projects', :confirm => t('messages.confirm.are_you_sure'), :method => :delete)}") if @task.closed?
    = content_tag(:li, link_to(t('link.close'), close_project_task_path(@project, @task), :class => 'projects')) if (@task.opened? || @task.pending?)
    = content_tag(:li, link_to(t('link.open'), open_project_task_path(@project, @task), :class => 'projects')) if (@task.closed?)
#comments
  - unless @task.closed?
    %h5
      = t('comments.comments')
    = render :partial => "comments/form", :locals => { :btn_submit => t('link.add') }
    - @comments.each do |comment|
      = anchor("comment-#{comment.id}")
      - div_for(comment, :class => cycle('light', 'dark')) do
        %h6
          %span.date
            = comment.created_at.to_s
          %span.user-name
            = comment.user.name
        = simple_format(comment.message)
    = will_paginate @comments
  - else
    %h5
      = t('comments.closed')
