- form_for(@user) do |u|
  %p
    = u.label :name, t('labels.name')
    %br
    = u.text_field :name
  %p
    = u.label :email, t('labels.email')
    %br
    = u.text_field :email
  - if is_admin?
    %p
      = u.select :level, [["Administrador", "admin"], ["Colaborador", "collaborator"], ["Normal", "normal"]]
  %p
    = u.submit t('link.save')
    = link_to t('link.cancel'), (@user.id == current_user.id) ? profile_path : users_path
