- form_tag("/users/auth") do
  %p
    = label_tag :login, t('labels.login')
    %br
    = text_field_tag :login
  %p
    = label_tag :password, t('labels.password')
    %br
    = password_field_tag :password
  %p
    = submit_tag t('link.join')
