<% content_for(:menubar) do %>
<ul id="submenu">
  <li><%= link_to t('clients.new'), new_client_path, :class => 'clients' %></li>
</ul>
<% end %>
<div id="clients-list" class="main-box">
  <h2><%= t('header.box.clients') %></h2>
  <table>
    <thead>
      <tr align="left">
        <th width="80"><%= t('header.name') %></th>
        <th width="80"><%= t('header.coordinator') %></th>
        <th width="100"><%= t('header.email') %></th>
      </tr>
		</thead>
		<tbody>
		<% @clients.each do |client| %>
		  <tr class="<%= cycle('light', 'dark') %>">
			  <td><%= link_to(client.client, client) %></td>
			  <td><%= client.coordinator %></td>
				<td><%= client.email %></td>
      </tr>
		<% end %>
		<tbody>
  </table>
</div>
