<p>
  <b>Client:</b>
  <%=h @client.client %>
</p>

<p>
  <b>Coordenador:</b>
  <%=h @client.coordinator %>
</p>

<p>
  <b>Email:</b>
  <%=h @client.email %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @client.phone %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @client.city %>
</p>

<p>
  <b>Estado:</b>
  <%=h @client.address_state %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @client.address %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
