- form_for(@project) do |f|
  = f.error_messages
  %p
    = f.label :name, t('labels.name')
    %br
    = f.text_field :name
  - if @clients.blank?
    %p
      = t('messages.clients.blank')
      = link_to(t('clients.new'), new_client_path)
  - else
    %p
      = f.label :client_id, t('labels.client')
      %br
      = f.select :client_id, @clients.collect { |c| [c.client, c.id] }, :include_blank => true
  %p
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit btn_submit
    = link_to(t('link.cancel'), (@project.new_record? ? projects_path : project_path(@project)), :class => 'btn-cancel')
