<% content_for(:menubar) do %>
<ul id="submenu">
  <li><%= link_to t('projects.new'), new_project_path, :class => 'projects' %></li>
</ul>
<% end %>
<div id="projects-list" class="main-box">
  <h2><%= t('header.box.projects') %></h2>
  <table>
    <thead>
      <tr align="left">
        <th width="80"><%= t('header.name') %></th>
        <th width="80"><%= t('header.coordinator') %></th>
        <th width="70"><%= t('header.date_begin') %></th>
        <th width="70"><%= t('header.date_end') %></th>
        <th width="100"><%= t('header.last_task') %></th>
      </tr>
		</thead>
		<tbody>
		<% @projects.each do |project| %>
		  <tr class="<%= cycle('light', 'dark') %>">
			  <td><%= link_to(project.name, project) %></td>
			  <td><%= project.client.coordinator %></td>
				<td>DD/MM/YYYY</td>
				<td>DD/MM/YYYY</td>
        <td><%= project.tasks.maximum('commented_at') %></td>
      </tr>
		<% end %>
		<tbody>
  </table>
</div>
