<% content_for(:menubar) do %>
<ul id="submenu">
  <li><%= link_to t('tasks.new'), new_project_task_path(@project), :class => 'projects' %></li>
  <li><%= link_to t('link.edit'), edit_project_path(@project), :class => 'projects' %></li>
</ul>
<% end %>
<h3><%= t('projects.project') %> <%= link_to(@project.name, edit_project_path(@project)) %></h3>
<h4><%= t('clients.client') %> <%= link_to(@project.client.client, @project.client) %></h4>
<hr />
<div id="project-tasks" class="main-box">
	<h2><%= t('projects.tasks') %> (<%= @project.tasks.count %>)</h2>
	<table width="100%">
		<thead>
			<tr>
				<th width="85%"><%= t('header.name') %></th>
				<th><%= t('comments.comments') %></th>
			</tr>
		</thead>
		<tbody>
		<% @project.tasks.each do |task| %>
			<tr class="<%= cycle('light', 'dark') %>">
				<td><%= link_to(task.name, project_task_path(@project, task)) %></td>
				<td align="center"><%= task.comments.count %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
