- content_for(:menubar) do
  %ul#submenu
    %li
      = link_to t('tasks.new'), new_project_task_path(@project), :class => 'projects'
    %li
      = link_to t('link.edit'), edit_project_path(@project), :class => 'projects'
%h4
  = t('projects.project')
  = link_to(@project.name, edit_project_path(@project))
  %p
    = t('clients.client')
    = link_to(@project.client.client, @project.client)
#project-tasks.main-box
  %h2
    = t('projects.tasks')
    (
    = @project.tasks.count
    )
  %table{ :width => "100%" }
    %thead
      %tr
        %th{ :width => "300" }
          = t('header.name')
        %th{ :width => "40" }
          = t('header.status')
        %th{ :width => "40" }
          = t('header.date_start')
        %th{ :width => "40" }
          = t('header.date_end')
        %th{ :width => "40" }
          = t('header.comments')
    %tbody
      - @project.tasks.reverse.each do |task|
        %tr
          %td
            = link_to(task.name, project_task_path(@project, task))
          %td{ :class => state(task.state) }
            = t("tasks.state.#{task.state}")
          %td
            = task.date_start
          %td
            = task.date_end
          %td{ :align => "center" }
            = task.comments.count
